.position
  .date-range
    .start= start_date.year
    .end= end_date.year
  %h3
    = organization
    %small #{start_date.strftime('%B %Y')} - #{end_date.strftime('%B %Y')}
  .title
    = title
  .location
    = location
  .description
    %ul
      - accomplishments.each do |bullet|
        %li
          = bullet
